.dataset {
  div {
    clear: both;
  }
}
span.label {
  font-weight: bold;
  margin-right: 5px;
}
.distribution {
  display: block;
  width: 23%;
  float: left;
  clear: none;
  div {
  }
  .distribution_attribute {
    clear: both;
  }
}