* {
  word-wrap: break-word;
}
div {
  padding: 10px 0 10px 0;
}
a {
  text-decoration: none;
  color: $link-color;
}
header {
  a {
    &:visited {
      color: $font-color;
    }
  }
}
#app {
  width: 100%;
}
#wrapper {
  padding: 0 10px 0 10px;
}
#content {
  //display: none;
}
thead {
  td {
    font-weight: bold;
  }
}
td {
  &.optional,&.conditional {
    display: none;
  }
  word-wrap: break-word;
}
.hidden {
  display: none;
}
.clear {
  clear: both !important;
  margin: 0;
  padding: 0;
}